*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
header{
    width: 100%;
    height: 100px;
    background-color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.menu-item{
    height: 170px;
    width: 500px;
}
.top-menu-item{
    border: 2px black solid;
    border-radius: 10px 10px 0px 0px;
    height: 30%;
    width: 100%;
    background-color: darkgray;
    padding: 7px;
}
.bottom-menu-item{
    border: 2px black solid;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
    height: 70%;
    width: 100%;
    background-color: darkgray;
    padding: 7px;
    display: flex
}
main{
    display: flex;
    padding: 5vw;
}
.container{
    display: flex;
    width: 90vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
}
.border{
    border: 2px black solid;
}
.bescrijving{
    display: block;
    width: 100%;
    margin-right: 10px;
}
.prijs{
    font-size: larger;
}
.text-input{
    height: 100px;
    width: 500px;
}
.col{
    display: flex;
    flex-direction:column;
}
.top-button{
    border: 2px black solid;
    border-radius: 10px;
    padding: 5px;
    align-self: start;
    color: black;
}
.header-text{
    flex: 1;
}
a{
    text-decoration: none;
}
.blue-text{
    color: blue;
}